{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'polls/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
        <title>Polls App</title>
    </head>
    <body>
        <header>
            <h1>Polls App</h1>
        </header>

        <main>
            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                <li>
                    <a href="{% url 'polls:detail' question.id %}">
                        {{question.question_text}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls available</p>
            {% endif %}
        </main>

        <footer>
            <a href="#">Contact</a>
            <a href="#">Terms and Conditions</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                Do not click here
            </a>
        </footer>
    </body>
</html>
